@import "base.css";
article{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}
article > .font{
    width: 1.34rem;
    height: 0.32rem;
    font-size: 0.32rem;
    color: #44b5ff;
    margin-left: 0.8rem;
}
article > .font::before{
    content: '';
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: #4ebbfe;
    position: absolute;
    top: 1.28rem;
    left: 0.6rem;
}
article > .font2{
    width: 1.23rem;
    height: 0.24rem;
    font-size: 0.24rem;
    line-height: 0.40rem;
    letter-spacing: 0.01rem;
    color: #8e9397;
    position: absolute;
    left: 0.9rem;
    top: 2.4rem;
}
article > .pvip2{
    width: 1.13rem;
    height: 1.13rem;
    position: absolute;
    top: 1.5rem;
    left: 0.3rem;
    margin-left: 0.5rem;
}
.privilege{
    margin-top: 1.75rem;
}