@import "base.css";
header{
    height: 0.88rem;
    width: 100%;
    padding: 0 0.2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
}
header a{
    color: #4ebbfe;
}
.iconfont{
    float: left;
    width: 0.25rem;
    height: 0.42rem;
    margin-left: 0.24rem;
}
article > .category{
    height:3.57rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 0.22rem;
    background: #fbfeff;
}
article > .category  p{
    margin-left: 0.64rem;
    margin-top: 0.2rem;
}
article > .category  span{
    margin-left: 0.26rem;
    margin-top: 0.2rem;
}
article > .category li{
    width: 2.16rem;
    height: 1.2rem;
   background: #f1faff;
    border-radius: 0.08rem;
}
article > .category .table{
    background-color: #3bacfe;

}
article > .category::after{
    content: '';
    width: 7rem;
    height: 0.02rem;
    background-color: #000000;
    opacity: 0.04;
}
div > .picture{
    width: 4.75rem;
    margin-left: 0.23rem;
}
div >  a > .picture1{
    width: 2.4rem;
    float: right;
    margin-top: -0.1rem;
}