body{
    padding: 0 0.22rem;
}
.header{
    padding-bottom: 0.27rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.3rem;
    color: #4ebbfe;
}
.header >a{
    color: #4ebbfe;
}
.shadow{
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
}

.introduce{
    margin-top: 0.37rem;
    padding-bottom: 0.41rem;
    padding-left: 0.21rem;
    border-bottom: 0.01rem solid #f0f5f7;
}
.introduce span:first-child{
    font-size: 0.32rem;
    color: #4f5b64;
    position: relative;
}
.introduce span:first-child::before{
    content: '';
    display: block;
    width: 0.1rem;
    height: 0.05rem;
    background: #44b5ff;
    border-radius: 0.03rem;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    position: absolute;
    left: -0.2rem;
    top: 0.2rem;
}
.introduce span:nth-child(2){
    font-size: 0.32rem;
    color: #44b5ff;
}
.introduce p{
    font-size: 0.22rem;
    color: #afb1b2;
    margin-top: 0.21rem;
}
.display{
    padding-left: 0.21rem;
    margin-top: 0.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.01rem solid #f0f5f7;
}
.display span:first-child{
    font-size: 0.32rem;
    color: #4f5b64;
    position: relative;
}
.display span:first-child::before{
    content: '';
    display: block;
    width: 0.1rem;
    height: 0.05rem;
    background: #34da87;
    border-radius: 0.03rem;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(52, 218, 135, 0.43);
    position: absolute;
    left: -0.2rem;
    top: 0.2rem;
}
.display span:nth-child(2){
    font-size: 0.32rem;
    color: #34da87;
}
.display img{
    width: 6.84rem;
    height: 3.94rem;
    margin-top: 0.33rem;
}
.message{
    padding-left: 0.21rem;
    margin-top: 0.3rem;
    border-bottom: 0.01rem solid #f0f5f7;
    padding-bottom: 0.3rem;
}
.message span:first-child{
    font-size: 0.32rem;
    color: #4f5b64;
    position: relative;
}
.message span:first-child::before{
    content: '';
    display: block;
    width: 0.1rem;
    height: 0.05rem;
    background: #34da87;
    border-radius: 0.03rem;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(52, 218, 135, 0.43);
    position: absolute;
    left: -0.2rem;
    top: 0.2rem;
}
.message span:nth-child(2){
    font-size: 0.32rem;
    color: #34da87;
}
.message a{
    display: block;
    float: right;
    width: 1.24rem;
    height: 0.45rem;
    background: #37e06f;
    border-radius: 0.22rem;
    text-align: center;
    line-height: 0.45rem;
    font-size: 0.2rem;
    color: #ffffff;
}
.message ul li{
    margin-top: 0.53rem;
}
.message img{
    width: 0.32rem;
    height: 0.34rem;
    float: left;
    margin-right: 0.24rem;
}
.message p{
    font-size: 0.26rem;
    color: #646666;
}
.license{
    padding-left: 0.21rem;
    margin-top: 0.3rem;
    padding-bottom: 0.5rem;
}
.license span:first-child{
    font-size: 0.32rem;
    color: #4f5b64;
    position: relative;
}
.license span:first-child::before{
    content: '';
    display: block;
    width: 0.1rem;
    height: 0.05rem;
    background: #34da87;
    border-radius: 0.03rem;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(52, 218, 135, 0.43);
    position: absolute;
    left: -0.2rem;
    top: 0.2rem;
}
.license span:nth-child(2){
    font-size: 0.32rem;
    color: #34da87;
}
.license img{
    width: 6.84rem;
    height: 3.94rem;
    margin-top: 0.33rem;
}


