@import "base.css";
header{
    padding: 0 0.22rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
    box-shadow:0 2px 15px rgba(78,187,254,0.2) ;
}
header .iconfont {
    color: #4ebbfe;
    font-size: 0.44rem;
}
body{
    background: white;
}
section{
    width: 100%;
    height:12.06rem;
    display: none;
}
.none{
    width: 100%;
    height: 100%;
}
.none > img {
    margin: 3.17rem  2.08rem auto 2rem;
    width: 3.38rem;
    height: 2.06rem;
}
.alarm{
    margin-top: 0.52rem;
    text-align: center;
    font-size: 0.26rem;
    font-weight: normal;
    color: #000000;
    opacity: 0.4;
}
.go{
    margin-left: 2.7rem;
    margin-top: 0.52rem;
    width: 2rem;
    height: 0.65rem;
}
.go img{
    width: 100%;
    height: 100%;
}
.list{
    margin-top: 0.5rem;
    height: 10.98rem;
}

.goods .item{
    margin-top: 0.3rem;
    display: flex;
    width: 100%;
    height: 1.74rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.01rem solid #d8dfe3;
}
.point{
    margin-top: 0.75rem;
    margin-right: 0.24rem;
    margin-left: 0.29rem;
    width: 0.24rem;
    height: 0.24rem;
    border-radius: 50%;
    background-color: #e7f6ff;
}
.goodsImg{
    width: 1.74rem;
    height: 1.74rem;
    background: #4ebbfe;
}
.item > a{
    display: flex;
    margin-right: 1.07rem;
}
.goodsInfo{
    margin-left: 0.24rem;
}
.goodsInfo .name{
    margin-top: 0.45rem;
    font-size: 0.3rem;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
}
.goodsInfo .price{
    margin-top: 0.3rem;
    font-size: 0.26rem;
    font-weight: normal;
    color: #8e9397;
    opacity: 0.8;
}
.total{
    display: flex;
    height: 0.34rem;
    margin-top: 0.45rem;
}
.total img{
    width: 0.34rem;
    height: 0.34rem;
}
.total .add {
    width: 0.364rem;
}
.total .px{
    width: 0.34rem;
    overflow: hidden;
}
.total > span{
    margin: 0 0.1rem;
    font-size: 0.26rem;
    font-weight: normal;
    color: #36a8fe;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.1rem;
    line-height: 1.5;
    display: flex;
    background-color: #f1faff;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.footerLeft {
    color: #3bacfe;
    opacity: 0.6;
    font-size: 15px;
    padding: 0.2rem;
}
.footerLeftP1 {
    margin-bottom: 0.1rem;
}
.footerLeftP1 span {
    color: #36a8fe;
    font-size: 20px;
    font-weight: bold;
}
.footerLeftP2 {
    margin-top: -0.15rem;
    font-size: 12px;
}
.footerRight {
    padding-right: 0.25rem;
}
.footerRightgreen {
    width: 3.8rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #FFFFFF;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient( #3bacfe, #3bacfe);
    background-blend-mode: normal, normal;
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
}
.total1{
    font-size: 0.26rem;
    color: #3bacfe;
    float: left;
    margin-left: 0.5rem;
    position: absolute;
    bottom: 1.5rem;

}
.green{
    background: #4ebbfe;
}
.carkong{
    width: 100%;
    margin:3rem auto;
}
.blank{
    margin-left: 1.7rem;
}
.blank img{
    width: 4rem;
    height:4rem;
}
.blank p{
    font-size: 0.26rem;
    height: 0.26rem;
    line-height: 0.26rem;
    text-align: center;
    padding-right: 0.5rem;
    opacity: 0.4;
}
.see{
    width: 1.96rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    background-blend-mode: normal,
    normal;
    box-shadow: 0 0.04rem  0.2rem 0;
rgba(55, 223, 116, 0.75);
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.6rem;
}
.carsee{
    padding-left:25%;
}