header{
    width: 100%;
    height: 1rem;
    padding: 0.1rem 0.15rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
    background: #fbfeff;

}
header > a{
    color: #4ebbfe;
}

.first{
    width: 100%;
    height: 6rem;
    background: #ffffff;
    box-shadow: 0 0.03rem 0.43rem 0
    rgba(41, 167, 255, 0.13);
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    box-sizing: border-box;
}

.second{
    width: 100%;
    height: 1.5rem;
    background: #f1faff;
    padding: 0.2rem;
    box-sizing: border-box;
}

.third{
    width: 100%;
    height: 4.8rem;
    background: #fbfeff;
    padding: 0.3rem 0.2rem 0.3rem 0.2rem;
    box-sizing: border-box;
    position: relative;
}
.part1Left {
    width: 2.1rem;
    height: 3.5rem;
    display: inline-block;
    float: left;
    border-bottom: 1px solid #e4e3e3;
}
.part1Left > a >img{
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0.01rem 0.21rem 0
    rgba(223, 223, 223, 0.43);
    border-radius: 0.1rem;
}



.part1Right {
    width: 4.8rem;
    height: 3.5rem;
    display: inline-block;
    float: right;
    position: relative;
    margin-left: 0.1rem;
    border-bottom: 1px solid #e4e3e3;
}
.part1Right > h1 > a {
    font-size: 0.3rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.6;
    position: relative;
}
.part1Right > h1::before{
    content: "";
    width: 0.1rem;
    height: 0.05rem;
    background-color: #36a8fe;
    box-shadow: 0 0.02rem 0.05rem 0
    rgba(54, 221, 124, 0.43);
    border-radius: 0.03rem;
    left: -0.15rem;
    top: 0.32rem;
    position: absolute;
}

.part1Right > h2 {
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #36a8fe;
    margin-top: 0.1rem;
    position: relative;

}


.part1Right > h3 {
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.3;
    margin-top: 0.1rem;
}

.part1Right > h4{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #8a8c8d;
    margin-top: 0.3rem;
}
.part1Right >h4 > span{
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #8a8c8d;
    float: right;
    margin-right: 0.25rem;
}

.part1Right> h5{
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #fbb548;
    position: absolute;
    bottom: 0.5rem;
    right: 0.25rem;
}

.part2 {
    width: 100%;
    height: 1rem;
    box-sizing: border-box;
    display: inline-block;
    border-bottom: 1px solid #e4e3e3;

}
.part2 > h1{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #474747;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    display: inline;
    position: relative;
}
.part2 > h1 ::before{
    content: "";
    width: 0.1rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: -0.15rem;
    top: 0.15rem;
}

.part2 > h1 >span{
    font-size: 0.26rem;
    font-weight: normal;
    color: #41b2fc;
}
.part2 > h2{
    display: inline;


}

.part2 > h2 > a {
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    opacity: 0.6;
    float: right;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    color: #36a8fe;
}

.part3 {
    width:100%;
    height: 1.5rem;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.2rem 0.2rem;

}

.part3 > h1 {
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #474747;
    display: inline;
    position: relative;
}
.part3 > h1 ::before{
    content: "";
    width: 0.1rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: -0.15rem;
    top: 0.15rem;
}

.part3 > h1 > p{
    font-size: 0.26rem;
    font-weight: normal;
    letter-spacing: 0.02rem;
    color: #fcbc41;
    display: inline;
}
.part3 > h1 > span{
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.3;
    display: inline;
}
.part3 > h2 {
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #fcbc41;
}

.second{
    padding: 0.2rem 0.4rem;
}
.second > h1{
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #b9c9d2;
}


.third > h1 {
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #474747;
    display: inline;
    margin-left: 0.2rem;
    position: relative;
}
.third >h1 ::before{
    content: "";
    width: 0.1rem;
    height: 0.05rem;
    background-color: #36dd7c;
    box-shadow: 0 0.02rem 0.05rem 0
    rgba(54, 221, 124, 0.43);
    border-radius: 0.03rem;
    left: -0.15rem;
    top: 0.15rem;
    position: absolute;
}

.third > h1> p{
    font-size: 0.26rem;
    font-weight: normal;
    letter-spacing: 0.02rem;
    color: #31d094;
    display: inline;
}
.third > h1 >span{
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.3;
    display: inline;
}
.third > h2{
    position: absolute;
    left: 0.3rem;
    top: 0.8rem;
}
.third > h2 > a > img{
    width: 1.2rem;
    height: 1.2rem;
}

.third > h3{
    position: absolute;
    left: 1.5rem;
    top:3rem;
    width: 4.54rem;
    height: 1rem;
}

/*退款详情 refund Detail*/

.one{
    width: 100%;
    height: 1.2rem;
    background: #fbfeff;
    border-bottom: 1px solid #e4e3e3;
    box-shadow: 0 0.03rem 0.43rem 0
    rgba(41, 167, 255, 0.13);
    box-sizing: border-box;
    padding: 0.5rem 0 0 2.84rem;
}

.one > h1{
    font-size: 0.3rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: #4f5b64;
    font-family: 微软雅黑;
}

.two{
    width: 100%;
    height: 7rem;
    border-bottom: 1px solid #e4e3e3;
    background: #fbfeff;
    box-sizing: border-box;
    position: relative;
}

.two > h1 {
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #4f5b64;
    margin: 0 0 0.7rem 2.2rem;
}
.two > h1 > span{
    font-size: 0.41rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: #ff6666;
}


.two > h2{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.01rem;
    color: #000000;
    opacity: 0.5;
    margin: 0 0.2rem 0.5rem 0.2rem;
}
.two .button > p > img{
    width: 1.66rem;
    height: 0.6rem;
    display: inline-block;
    position: absolute;
    left:1.8rem;
    top:5.5rem;
}
.two .button > a >img{
    width: 1.66rem;
    height: 0.8rem;
    display: inline-block;
    position: absolute;
    left: 3.6rem;
    top:5.45rem ;
}
.two .button >p > a >img{
    width: 1.66rem;
    height: 0.8rem;
    display: inline-block;
    position: absolute;
    left: 5.4rem;
    top:5.45rem ;
}

.three{
    width: 100%;
    height:4.3rem ;
    background: #fbfeff;
    padding: 0.2rem 0.2rem;
    box-sizing: border-box;
}
.three > h1 {
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #474747;
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
    position: relative;
}
.three > h1 ::before{
    content: "";
    width: 0.1rem;
    height: 0.05rem;
    background-color: #36dd7c;
    box-shadow: 0 0.02rem 0.05rem 0
    rgba(54, 221, 124, 0.43);
    border-radius: 0.03rem;
    left: -0.15rem;
    top: 0.15rem;
    position: absolute;
}

.three > h1 > span{
    font-size: 0.26rem;
    font-weight: normal;
    letter-spacing: 0.02rem;
    color: #31d094;
}

.footer{
    width: 100%;
    height:1rem ;
    background: #f1faff;
    box-sizing: border-box;
}
.footer > h1 > a > img{
    width: 4.5rem;
    height: 1rem;
    margin-left: 1.5rem;
}














